<ion-view title="Didactics" id="page7">
    <ion-content padding="true" class="has-header">
        <h4 id="didactics-heading5" style="color:#000000;">Gestational Diabetes</h4>
        <div id="didactics-markdown7" style="color:#000000;">
            <p>Gestational diabetes is usually diagnosed during late pregnancy. If you are diagnosed with diabetes earlier in your pregnancy, you may have had diabetes before you became pregnant.</p>

            <p>Treating gestational diabetes can help both you and your baby stay healthy. You can protect your baby and yourself by taking action right away to control your blood glucose levels.</p>
        </div>
        <div class="button-bar">
            <button id="didactics-button11" class="button button-positive  button-block">&lt; back</button>
            <button id="didactics-button13" class="button button-positive  button-block">next &gt;</button>
        </div>
    </ion-content>
</ion-view>