<ion-view title="Goals" id="page3">
    <ion-content padding="true" class="has-header">
        <h4 id="goals-heading6" style="color:#000000;">Check in</h4>
        <ion-list>
            <ion-item class="item-thumbnail-left item-icon-right">
                <h2>Ate fewer carbs</h2>
                <p>3 of 5 this week</p>
                <i class="icon ion-android-add-circle"></i>
            </ion-item>
            <ion-item class="item-thumbnail-left item-icon-right">
                <h2>Go for a walk</h2>
                <p>4 of 5 this week</p>
                <i class="icon ion-android-add-circle"></i>
            </ion-item>
            <ion-item class="item-thumbnail-left">
                <img>
                <h2>Attend 3 appointments in a row</h2>
                <p>2 of 3, keep going!</p>
            </ion-item>
            <ion-item class="item-thumbnail-left">
                <img>
                <h2>Read 5 messages</h2>
                <p>3 of 5 done!</p>
            </ion-item>
            <ion-item class="item-thumbnail-left">
                <img>
                <h2>Attend 1 appointment</h2>
                <p>completed!</p>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>