<ion-view title="Library" id="page6">
    <ion-content padding="true" class="has-header">
        <h4 id="library-heading3" style="color:#000000;">Diabetes</h4>
        <ion-list>
            <ion-item>Managing Your Eating</ion-item>
            <ion-item>Tips for Insulin</ion-item>
            <ion-item>Sugar Crashes</ion-item>
        </ion-list>
        <h4 id="library-heading4" style="color:#000000;">Pregnancy Tips</h4>
        <ion-list>
            <ion-item>What to do about needing help</ion-item>
            <ion-item>Social support</ion-item>
        </ion-list>
    </ion-content>
</ion-view>