<ion-view title="Messages" id="page9">
    <ion-content padding="true" class="has-header">
        <a ui-sref="menu.newMessage" id="messages-button17" class="button button-positive  button-block">Send a message</a>
        <div class="list card">
            <div class="item item-divider">From your nurse</div>
            <div class="item item-body">
                <div id="messages-markdown10" style="color:#000000;">
                    <p>Hey, we haven't seen you in clinic recently--what's going on?</p>
                </div>
                <a ui-sref="menu.respond" id="messages-button18" class="button button-positive  button-block">Answer</a>
            </div>
        </div>
    </ion-content>
</ion-view>