<ion-view title="Need Help" id="page8">
    <ion-content padding="true" class="has-header">
        <div class="list card">
            <div class="item item-divider">You said you needed help with</div>
            <div class="item item-body">
                <div id="needHelp-markdown8" style="color:#000000;">
                    <p>Remembering to bring your schedule to the meeting</p>
                </div>
            </div>
        </div>
        <div id="needHelp-markdown9" style="color:#000000;">
            <p>Do you want a reminder?</p>
        </div>
        <form class="list">
            <label class="item item-input">
                <span class="input-label">3/4 5PM</span><textarea placeholder=""> </textarea>
            </label>
        </form>
        <div class="button-bar">
            <button id="needHelp-button14" class="button button-positive  button-block">Yes</button>
            <button id="needHelp-button16" class="button button-positive  button-block">No</button>
        </div>
    </ion-content>
</ion-view>