<ion-view title="New Message" id="page11">
    <ion-content padding="true" class="has-header">
        <form class="list">
            <label class="item item-select">
                <span class="input-label">Send to</span>
                <select>
                    <option>Diane</option>
                    <option>Barbara</option>
                </select>
            </label>
            <div class="spacer" style="width: 285px; height: 27px;"></div>
            <label class="item item-input">
                <span class="input-label">Your message</span><textarea placeholder=""> </textarea>
            </label>
        </form>
        <button id="newMessage-button20" class="button button-balanced  button-block">Send</button>
    </ion-content>
</ion-view>