<ion-view title="Respond" id="page10">
    <ion-content padding="true" class="has-header">
        <div class="list card">
            <div class="item item-divider">From: Your Nurse</div>
            <div class="item item-body">
                <div id="respond-markdown11" style="color:#000000;">
                    <p>Hey, we haven't seen you in clinic recently--what's going on?</p>
                </div>
            </div>
        </div>
        <form class="list">
            <label class="item item-input">
                <span class="input-label">Enter your response</span><textarea placeholder=""> </textarea>
            </label>
        </form>
        <button id="respond-button19" class="button button-positive  button-block">Send</button>
    </ion-content>
</ion-view>