<ion-view title="Sweet Mama" id="page1">
    <ion-content padding="true" class="has-header">
        <div class="list card">
            <div class="item item-divider">Your appointment is tomorrow!</div>
            <div class="item item-body">
                <h4 id="sweetMama-heading1" style="color:#000000;">You'll be meeting Dr. Soandso at 5 PM.</h4>
                <div id="sweetMama-markdown1" style="color:#000000;">
                    <p>Will you be coming to the appointment?</p>
                </div>
                <div class="button-bar">
                    <a ui-sref="menu.appointmentSuccess" id="sweetMama-button1" class="button button-balanced  button-block">YES</a>
                    <a ui-sref="menu.appointmentCancellation" id="sweetMama-button3" class="button button-assertive  button-block">NO</a>
                </div>
            </div>
        </div>
        <div class="list card">
            <div class="item item-divider">Complete a goal</div>
            <div class="item item-body">
                <div id="sweetMama-markdown14" style="color:#000000;">
                    <p>
                        <strong>Your nurse asked you to</strong>
                    </p>

                    <p>Eat fewer carbs</p>
                </div>
                <div class="button-bar">
                    <button id="sweetMama-button15" class="button button-positive  button-block">I did it!</button>
                    <button id="sweetMama-button22" class="button button-positive  button-block">Didn't do it</button>
                </div>
            </div>
        </div>
        <div class="list card">
            <div class="item item-divider">Don't forget!</div>
            <div class="item item-body">
                <div id="sweetMama-markdown2" style="color:#000000;">
                    <p>It's important to bring your thing to the meeting!</p>
                </div>
                <button id="sweetMama-button4" class="button button-balanced  button-block">Thanks I won't forget!</button>
                <a ui-sref="menu.needHelp" id="sweetMama-button5" class="button button-assertive  button-block">I need help with this.</a>
            </div>
        </div>
        <div class="list card">
            <div class="item item-divider">News!</div>
            <div class="item item-body">
                <div id="sweetMama-markdown3" style="color:#000000;">
                    <p>Would you like to know more about ways that you can manage your diet to lesson the effects of diabetes today?</p>
                </div>
                <div class="button-bar">
                    <a ui-sref="menu.didactics" id="sweetMama-button8" class="button button-positive  button-block">YES!</a>
                    <button id="sweetMama-button9" class="button button-calm  button-block">No thanks!</button>
                </div>
            </div>
        </div>
        <div class="list card">
            <div class="item item-divider">Keep it up!</div>
            <div class="item item-body">
                <div id="sweetMama-markdown4" style="color:#000000;">
                    <p>You've just started on this journey--
                        <strong>hang in there</strong>!</p>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>